### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.json*
.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go profiling toll
*.prof

# Output of the go coverage tool
*.out

# Compiled Objects files, Static and Dynamic libs (Shared Objects)
*.o
*.a

# Go generated folders
_obj
_test
vendor

# Architecture specific extensions/prefixes
*.[568vq]

# CGO specific files
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_exmport.*

# Common IDE folders
.idea
.vscode

*.DS_Store

pg_data/